<html>
        <head></head>
        <body>
                <br>
                <center><h1>Pengembangan I2 ke TA</h1>
                <br>
                
                <img src="{{url_for('static', filename='images/1.png')}}" alt="">

                <br>
                <h2>Pada tahap ini, ditampilkan beberapa informasi<br>
                        berupa hasil dari metode density yaitu lokasi yang tersedia <br>
                        disini terdapat 12 lokasi/cluser yang ada.
                </h2>
                <br>
                <br>

                <h2>
                        Selanjutnya, pada cluster tersebut ditampilkan cluster yang tersedia. diantaranya :
                </h2>
                <p>1. Cluster 0</p>
                </center>
        </body>
</html>