<html>
        <head></head>
        <body>
                <br>
                <center><h1>Rencana Pengembangan I2 ke TA</h1>
                <br>
                
                <img src="{{url_for('static', filename='images/1.png')}}" alt="">

                <br>
                <h2>Pada tahap ini, ditampilkan beberapa informasi<br>
                        berupa hasil dari metode density yaitu lokasi yang tersedia <br>
                        disini terdapat 12 lokasi/cluser yang ada.
                </h2>
                <br>
                <br>

                <h2>
                        Selanjutnya, pada cluster tersebut ditampilkan cluster yang tersedia. diantaranya :
                </h2>
                <h3>1. Cluster 0</h3>
                
                <p>Berikut gambar dari cluster 0</p>
                <img src="{{url_for('static', filename='images/2.png')}}" alt="">

                <br>
                <br>

                <h3>2. Cluster 1</h3>
                
                <p>Berikut gambar dari cluster 1</p>
                <img src="{{url_for('static', filename='images/3.png')}}" alt="">

                <br>

                <br>

                <h3>3. Cluster 2</h3>
                
                <p>Berikut gambar dari cluster 2</p>
                <img src="{{url_for('static', filename='images/4.png')}}" alt="">

                <br>

                <br>

                <h3>4. Cluster 3</h3>
                
                <p>Berikut gambar dari cluster 3</p>
                <img src="{{url_for('static', filename='images/5.png')}}" alt="">

                <br>

                <br>

                <h3>5. Cluster 4</h3>
                
                <p>Berikut gambar dari cluster 4</p>
                <img src="{{url_for('static', filename='images/6.png')}}" alt="">

                <br>

                <br>

                <h3>6. Cluster 5</h3>
                
                <p>Berikut gambar dari cluster 5</p>
                <img src="{{url_for('static', filename='images/7.png')}}" alt="">

                <br>

                <br>

                <h3>7. Cluster 6</h3>
                
                <p>Berikut gambar dari cluster 6</p>
                <img src="{{url_for('static', filename='images/8.png')}}" alt="">

                <br>

                <br>

                <h3>8. Cluster 7</h3>
                
                <p>Berikut gambar dari cluster 7</p>
                <img src="{{url_for('static', filename='images/9.png')}}" alt="">

                <br>

                <br>

                <h3>9. Cluster 8</h3>
                
                <p>Berikut gambar dari cluster 8</p>
                <img src="{{url_for('static', filename='images/10.png')}}" alt="">

                <br>

                <br>

                <h3>10. Cluster 9</h3>
                
                <p>Berikut gambar dari cluster 9</p>
                <img src="{{url_for('static', filename='images/11.png')}}" alt="">

                <br>

                <br>

                <h3>11. Cluster 10</h3>
                
                <p>Berikut gambar dari cluster 10</p>
                <img src="{{url_for('static', filename='images/12.png')}}" alt="">

                <br>

                <br>

                <h3>12. Cluster 11</h3>
                
                <p>Berikut gambar dari cluster 11</p>
                <img src="{{url_for('static', filename='images/13.png')}}" alt="">

                <br>

                <br>
                </center>
        </body>
</html>